
.hidden {
  display: none;
}

input[type=text], textarea {
  -moz-user-select: text;
  cursor: text;
}

textarea {
  resize: vertical;
}

label {
  margin-bottom: 0px;
}

button, button.btn {
  cursor: pointer;
}

button[disabled], button.btn[disabled] {
  opacity: 0.5;
  cursor: default;
}

#table_requests {
  table-layout: fixed;
}

#table_requests thead th:nth-child(1) {
  width: 80px;
}
#table_requests thead th:nth-child(3) {
  width: 160px;
}
#table_requests thead th:nth-child(4) {
  width: 80px;
}

#table_requests tbody td:nth-child(4) {
  text-align: right
}





#table_rules {
  table-layout: fixed;
}

#table_rules thead th:nth-child(1) {
  width: 80px;
}

#table_rules thead th:nth-child(3) {
  width: 80px;
}
